body {
  font-family: fantasy;
}

article {
  text-align: center;
  background-color: #f0f0f0;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

img {
  width: 100px;
  height: 100px;
}

h2 {
  font-size: 22px;
  margin: 10px 0;
}

p {
  font-size: 14px;
  margin: 5px 0;
}

button {
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
}
svg {
  padding-top: 2px;
}
